:root {
  --soft-pink: #ffc3ce;
  --gray: #636563;
  --moss-green: #6B824A;
  --seashell-white: #fff7ef;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: var(--soft-pink);
  color: var(--seashell-white);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: var(--moss-green);
  border-style: solid;
  padding: 60px;
  border-radius: 60px; 
  border-color: var(--gray);
  border-width: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 16px;
  column-gap: 48px;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0px;
  text-align: center;
}

.character-amount-container {
  display: flex;
  align-items: center;
}

.number-input {
  width: 36px;
}

.password-display {
  height: 60px;
  width: 400px;
  background-color: var(--soft-pink);
  color: var(--gray);
  padding: 16px;
  border-style: ridge;
  border-width: 3px;
  border-color: var(--seashell-white);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
}

button {
  background-color: var(--soft-pink);
  border-style: ridge;
  border-color: var(--seashell-white);
  padding: 12px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--gray);
  font-size: 16px;
  border-width: 3px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.568);
}

button:hover {
  background-color: var(--soft-pink);
}

button:active {
  background-color: #ffb1bfd5;
}

